@font-face {
  font-family: 'Montserrat Black';
  src: url('https://jasonpomar8315-lab.github.io/justfit-fonts/montserrat-black.woff2') format('woff2'),
       url('https://jasonpomar8315-lab.github.io/justfit-fonts/montserrat-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
